@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



:root {
  --background: #12060F;
  --foreground: #DEF7D1;
  --color-primary: #FF3B00;
  --color-dark-maroon: #441925;
  --color-light-green: #98DD74;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}